# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore editor-specific files
.vscode/
.idea/

# Ignore build and dependency directories
/node_modules/
/build/
/dist/
/out/
/bin/
/.mvn/
/target/
/.venv/
/venv/
/env/
/.pytest_cache/
/.cache/

# Ignore log files and databases
*.log
*.sqlite3
**/.sqlite3
*.db

# Ignore environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Ignore coverage reports
/coverage/
/.nyc_output/

# Ignore temporary files
*.tmp
*.temp

# Ignore IDE-specific files
.project
.classpath
.c9/
*.launch

# Ignore local development files
.local/
.devcontainer/

# Ignore other common files
*.bak
*.backup
*.orig
*.rej
*.tmproj
*.pid
*.seed
*.pid.lock
*.pem
*.crx
*.xpi
*.deb
*.rpm
*.zip
*.tar.gz
*.7z
*.dmg
*.iso
*.img
*.msi
*.msm
*.msp
*.lnk

# Ignore Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore mypy type checker cache
.mypy_cache/

# Ignore coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Ignore pytest cache
.pytest_cache/

# Ignore Django migrations
**/migrations/

# Ignore static files
static/
media/

# Ignore local settings
local_settings.py

# Ignore celery beat schedule file
celerybeat-schedule

# Ignore translations
*.mo
*.pot

# Ignore temporary files created by editors
*~
*.swp
*.swo
